<!DOCTYPE html>
<html>
	<head>
		<meta charset = 'utf-8'>
        <title>Borga Games</title>
	</head>
	<body>
        <h1>BORGA GAMES</h1>
		<nav>
			<a href="/">Home</a> |
			<a href="/search">Search</a> |
			<a href="/groups">My Groups</a> |
		</nav>
		<hr>
		{{{body}}}
	</body>
</html>