<h1>Register</h1>
<form action="/home" method="GET">
    <h2>Register: </h2>
    <label for="user-name">Username: </label><br>
    <input type='text' id='user-name'  required><br><br>
    <label for="password">Password: </label><br>
    <input type='text' id='password'><br><br>
    <input type='submit' id="edit-{{groupID}}" value='Add'>
</form>