<h1>Find a board game</h1>
<form action="/game" method="GET">
	<label for="gameName">Name:</label>
	<input type="text" id="gameName" name="game" placeholder="Search for a board game's name">
	<input type="submit" value="Search">
</form>